body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to bottom, #128C7E 10%, #DADADA 10%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Layout principale */
.container {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 95%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
}

/* Colonna dei contatti */
.contacts-column {
    width: 30%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.contacts-header {
    background-color: darkblue;
    color: white;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Stile per il contatto nella lista */
.contacts-list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
}

.contacts-list li:hover {
    background-color: lightgray;
}

/* Stile per l'mmagine del contatto */
.contact-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

/* p con i Nomi del contatto */
.contacts-list p {
    font-weight: bold;
    margin: 0;
    font-size: 16px;
}

.contacts-list {
    background-color: #fff;
    flex-grow: 1;
    padding: 20px;
}

/* Colonna della chat */
.chat-column {
    width: 70%;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: darkgreen;
    color: white;
    padding: 20px;
}

.chat-messages {
    background: url('../img/mine.png');
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sent {
    background-color: #D5F9BA;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-self: flex-end;
    max-width: 60%;
}

.received {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-self: flex-start;
    max-width: 60%;
}

.chat-footer {
    background-color: rgb(105, 105, 105);
    color: white;
    padding: 20px;
}