/* Custom Properties */
:root {
    --main-bg-color: #128C7E;
    --secondary-bg-color: #DADBD4;
    --header-bg-color: #EAEAEA;
    --footer-bg-color: #F3EEEA;
    --contact-bg-color: lightblue;
    --sent-message-bg: #D5F9BA;
    --received-message-bg: #ffffff;
    --font-family: 'Lato', sans-serif;
    --avatar-size: 40px;
    --icon-color: #000;
    --text-color: #000;
    --padding-main: 20px;
    --gap-main: 15px;
    --container-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

body {
    font-family: var(--font-family);
    background: linear-gradient(to bottom, var(--main-bg-color) 10%, var(--secondary-bg-color) 10%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Layout principale */
.container {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 95%;
    box-shadow: var(--container-shadow);
}

/* Colonna dei contatti */
.contacts-column {
    width: 30%;
    background-color: var(--contact-bg-color);
    display: flex;
    flex-direction: column;
}

.contacts-header,
.chat-header {
    background-color: var(--header-bg-color);
    color: var(--text-color);
    padding: var(--padding-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts-header {
    height: 40px;
}

/* Sezione per l'immagine e il nome */
.profile-info,
.chat-info {
    display: flex;
    align-items: center;
    gap: var(--gap-main);
}

/* Avatar circolare */
.profile-avatar,
.header-avatar,
.contact-avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

/* Icone */
.header-icons,
.chat-header-icons {
    display: flex;
    gap: var(--gap-main);
}

.header-icons i,
.chat-header-icons i,
.chat-footer i {
    font-size: 1.5rem;
    color: var(--icon-color);
    cursor: pointer;
}

/* Barra di ricerca */
.search-bar {
    padding: 10px;
    background-color: #f1f1f1;
}

.search-bar input {
    width: 97%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

/* Lista contatti */
.contacts-list {
    background-color: #fff;
    flex-grow: 1;
    padding: var(--padding-main);
    overflow-y: auto;
}

ul {
    margin: 0;
    padding: 0;
}

.contacts-list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 8px;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.contacts-list li:hover {
    background-color: lightgray;
    border-radius: 8px;
}

.contacts-list p {
    margin: 0;
    margin-left: 10px;
    font-size: 16px;
}

.contact-details {
    display: flex;
    flex-direction: column;
}

.contact-details p {
    margin: 0;
}

.last-seen {
    font-size: 0.85rem;
    color: gray;
}

p.last-message {
    font-size: 0.85rem;
    margin-top: 2px;
}

.message-time {
    font-size: 0.8rem;
    color: gray;
}

/* Colonna della chat */
.chat-column {
    width: 70%;
    background-color: var(--chat-bg-color);
    display: flex;
    flex-direction: column;
}

.chat-messages {
    background: url('../img/mine.png');
    flex-grow: 1;
    padding: var(--padding-main);
    display: flex;
    flex-direction: column;
    gap: var(--gap-main);
    overflow-y: auto;
}

.sent,
.received {
    padding: 0 5px;
    border-radius: 10px;

}

.sent {
    background-color: var(--sent-message-bg);
    align-self: flex-end;
}

.received {
    background-color: var(--received-message-bg);
    align-self: flex-start;
}

.message-wrapper {
    position: relative;
    max-width: 60%;
    margin-bottom: 10px;
}

.message-wrapper p {
    margin-right: 50px;
    margin-left: 10px;
}

/* Contenuto del messaggio */
.message-content {
    display: flex;
}

/* Icona del menu a tendina */
.message-content i {
    cursor: pointer;
    margin-left: 10px;
}

/* Data in basso a destra */
.message-time {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.70rem;
}

/* Menu a tendina */
.dropdown-menu {
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
    top: 100%;
    right: 0;
    display: block;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
}

/* Footer */
.chat-footer {
    background-color: var(--footer-bg-color);
    color: var(--text-color);
    padding: 10px var(--padding-main);
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat-footer input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}