<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- Google Font - Lato -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- main style -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app" class="container">
        <!-- Colonna sinistra (Contatti) -->
        <div class="contacts-column">
            <div class="contacts-header">
                <!-- Header dei contatti -->
                <p>Header Contatti</p>
            </div>
            <div class="contacts-list">
                <!-- Place per la lista dei contatti -->
                <ul>
                    <li v-for="contact in contacts" :key="contact.name" @click="selectContact(contact)">
                        <img :src="contact.avatar" alt="avatar" class="contact-avatar">
                        <p>{{ contact.name }}</p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Colonna destra (Chat) -->
        <div class="chat-column" v-if="activeContact">
            <div class="chat-header">
                <p>{{ activeContact.name }}</p>
            </div>
            <div class="chat-messages">
                <!-- Visualizzazione del messaggi del contatto selezionato -->
                <div v-for="message in activeContact.messages" :key="message.date" :class="message.status">
                    <p>{{ message.message }}</p>
                </div>
            </div>
            <div class="chat-footer">
                <p>Footer Chat</p>
            </div>
        </div>
    </div>


    <!-- Vue script -->
    <script src="https://unpkg.com/vue@3"></script>

    <!-- My script -->
    <script src="js/script.js"></script>
</body>

</html>