<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- Luxon library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.3.0/luxon.min.js"></script>

    <!-- Google Font - Lato -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- main style -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app" class="container">
        <!-- Colonna di sinistra (Contatti) -->
        <div class="contacts-column">
            <div class="contacts-header">
                <div class="profile-info">
                    <!-- Immagine del nostro profilo -->
                    <img src="img/avatar_io.jpg" alt="avatar" class="profile-avatar">
                    <!-- Nome del profilo personale -->
                    <p>Francesco</p>
                </div>

                <!-- Icone del nostro profilo -->
                <div class="header-icons">
                    <!-- Icona chat -->
                    <i class="bi bi-chat-left-text"></i>
                    <!-- Icona impostazioni -->
                    <i class="bi bi-three-dots-vertical"></i>
                    <!-- Icona cambio tema -->
                    <i :class="{'bi-moon': darkMode, 'bi-brightness-high': !darkMode}" id="themeToggle"
                        @click="toggleTheme"></i>
                </div>
            </div>
            <!-- Barra di ricerca contatti -->
            <div class="search-bar">
                <input v-model="searchQuery" type="text" placeholder="Cerca nei contatti...">
            </div>

            <div class="contacts-list">
                <!-- Place per la lista dei contatti -->
                <ul>
                    <li v-for="contact in filteredContacts" :key="contact.name" @click="selectContact(contact)">
                        <img :src="contact.avatar" alt="avatar" class="contact-avatar">
                        <div class="contact-details">
                            <p>{{ contact.name }}</p>
                            <p class="last-message">{{ getLastMessage(contact) }}</p>
                        </div>
                        <span class="message-time">{{ getLastMessageTime(contact) }}</span>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Colonna di destra (Chat) -->
        <div class="chat-column" v-if="activeContact">
            <div class="chat-header">
                <div class="chat-info">
                    <!-- Immagine del contatto selezionato -->
                    <img :src="activeContact.avatar" alt="avatar" class="header-avatar">
                    <div class="contact-details">
                        <!-- Nome del contatto selezionato -->
                        <p>{{ activeContact.name }}</p>
                        <!-- Ultimo accesso -->
                        <p class="last-seen">Ultimo accesso alle {{ getLastMessageTime(activeContact) }}</p>
                    </div>
                </div>
                <!-- Icone -->
                <div class="chat-header-icons">
                    <!-- Icona videocamera -->
                    <i class="bi bi-camera-video"></i>
                    <!-- Icona ricerca -->
                    <i class="bi bi-search"></i>
                    <!-- Icona opzioni -->
                    <i class="bi bi-three-dots-vertical"></i>
                </div>
            </div>
            <div class="chat-messages">
                <!-- Visualizzazione dei messaggi del contatto selezionato -->
                <div v-for="(message, index) in activeContact.messages" :key="message.date" :class="message.status"
                    class="message-wrapper animate-message">
                    <div class="message-content">
                        <!-- Contenuto del messaggio -->
                        <p>{{ message.message }}</p>
                        <!-- Orario del messaggio -->
                        <span class="message-time">{{ formatMessageTime(message.date) }}</span>
                        <!-- Icona per il menu a tendina -->
                        <i v-if="message.status === 'sent'" class="bi bi-chevron-down"
                            @click="toggleDropdown(index)"></i>
                    </div>
                    <!-- Menu a tendina -->
                    <div v-if="dropdownVisible === index" class="dropdown-menu">
                        <ul>
                            <li @click="messageInfo(message)">Message info</li>
                            <li @click="deleteMessage(index)">Delete message</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="chat-footer">
                <!-- Icona emoji -->
                <i class="bi bi-emoji-smile-fill"></i>
                <!-- Input per scrivere il messaggio -->
                <input v-model="newMessage" @keyup.enter="addMessage" type="text"
                    placeholder="Scrivi un messaggio..." />
                <!-- Icona allegato -->
                <i class="bi bi-paperclip"></i>
                <!-- Icona microfono -->
                <i class="bi bi-mic-fill"></i>
            </div>
        </div>
    </div>

    <!-- Vue script -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- My script -->
    <script src="js/script.js"></script>
</body>

</html>